{% include 'header1.html' %}
<style>
		table,tr,td,th{
			border: 1px solid black;
			background-color: white;
  		color: black;
			padding: 15px;
		}
		h1{
			color: black;
		}
		p:first-child{
			color: red;
			border: 1px solid black;
			background-color: white;
			padding: 15px;
		}
		</style>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
		<h1>Ingredients Results</h1>
		<center>	
			<p class="error">It appears there was an error with the picture you tried to upload, try another picture that is similar to our examples!</p>
		</center>
          <hr>
        </div>
      </div>
    </div>
  </header>

{% include 'footer.html' %} 
